<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Sanity Suite">
    <test name="testConfigure" parallel="false">
        <classes>
            <class name="test.ChromeTest">
                <methods>
                    <include name="test"/>
                    <include name="remote"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>